body {
  &.drawer-open {
    overflow: hidden;
  }
}

.drawer {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.6);
  transition-property: opacity, visibility;
  transition-duration: $transitionDuration;
  transition-delay: $transitionDuration, 0;
  transition-timing-function: ease-in-out;

  &__mask {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    max-width: 100%;
    background: var(--contrast-color);
    color: var(--contrast-content-color);
    cursor: default;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform $transitionDurationLong;
    -webkit-box-shadow: 7px 0px 14px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 7px 0px 14px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 7px 0px 14px 0px rgba(50, 50, 50, 0.55);

    @include with-adminbar(padding-top);
  }

  &__scroll {
    width: calc(100% + 40px);
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow: auto;
    height: 100%;
  }

  svg {
    fill: currentColor;
  }

  body.drawer-open & {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    .drawer__panel {
      transform: translateX(0%);
    }
  }

  @include medium-and-up {
    &__close {
      display: none;
    }
  }
}

.drawer {
  .search-form {
    &__input {
      background-color: var(--contrast-content-color);
    }
  }
}

.main-menu {
  margin-left: -20px;
  margin-right: -20px;

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 15px 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
