.entry-preview {
  transition: transform ease-in-out $transitionDurationLong;

  &.transformed {
    transform: perspective(1000px) rotateY(-20deg);
  }

  &__img {
    display: block;
    position: relative;
    padding-bottom: 50%;
    margin-bottom: -20px;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform $transitionDurationLong, filter $transitionDuration;
      transform-origin: center;
    }

    &:hover {
      img {
        transform: scale(1.2);
        filter: saturate(0.5);
      }
    }
  }

  &__content {
    position: relative;
  }

  &__title {
    background-color: var(--body-bg, white);
    width: 85%;
    position: relative;
    margin-bottom: 0;

    &:before {
      content: '';
      height: 3px;
      background-color: currentColor;
      width: 40px;
      transition: width $transitionDurationLong;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__text {
    background-color: var(--body-bg, white);
    line-height: 1.6;
  }

  &:hover {
    .entry-preview__title {
      &:before {
        width: 100%;
      }
    }
  }
}
