body {
  background-color: var(--body-bg, white);
}

.color {
  &-inactive {
    color: var(--inactive-color);
    fill: currentColor;
  }
  &-warning {
    color: var(--warning-color);
    fill: currentColor;
  }
  &-icon {
    color: var(--inactive-color);
    fill: currentColor;
  }

}
