body {
  min-height: 100vh;
}

.content-width {
  max-width: 800px;
}

.page-sidebar {
  height: 100%;
  min-width: 250px;

  &__sticky {
    position: sticky;
    top: 10px;
    @include with-adminbar('top', 10px);
  }
}
