.anchor {
	text-decoration: none!important;
  position: absolute;
  visibility: hidden;
  right: 100%;
  padding-right: 5px;
  top: 0;
  height: 1em;

  &:before {
    content: '#';
    font-size: 20px;
    color: hsl(var(--accent-color-hue), 35%, 50%);
    opacity: 0.7;
    transition: opacity $transitionDuration;
  }

  &:hover:before {
    opacity: 1;
  }
}


.entry__content {
  h2, h3, h4, h5, h6 {
    position: relative;

    &:hover {
      .anchor {
        visibility: visible;
      }
    }
  }
}

.contentlist {
  display: none;

  ul {
    list-style: none;
  }

  &--loaded {
    display: block;
    margin: 20px 0;
    padding: 20px 0;
    border-color: #e0e0e0;
    border-style: solid none;
    border-width: 1px;
    position: relative;
  }

  &--closed {
    border-bottom: none;

    .contentlist__root {
      display: none;
    }
  }

  &__title {
    font-size: 0.875rem;
    margin: 0;
    position: absolute;
    top: -0.7rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 2px 15px;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
  }

  &__root {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 2;

    ul {
      margin-left: 2em;
    }
  }
}
