$gap: 20px;
$columnsCount: 12;

$smallDevicesStart: 576px;
$mediumDevicesStart: 768px;
$largeDevicesStart: 992px;
$extraLargeDevicesStart: 1200px;

$spaceUnit: 1em;
$spaceRatio: (
  '1': 0.25,
  '2': 0.5,
  '3': 0.75,
  '4': 1.25,
  '5': 2,
  '6': 3.25,
  '7': 5.25,
);

@mixin small-and-up {
  @media screen and (min-width: $smallDevicesStart) {
    @content;
  }
}

@mixin medium-and-up {
  @media screen and (min-width: $mediumDevicesStart) {
    @content;
  }
}

@mixin large-and-up {
  @media screen and (min-width: $largeDevicesStart) {
    @content;
  }
}

@mixin extra-large-and-up {
  @media screen and (min-width: $extraLargeDevicesStart) {
    @content;
  }
}

@mixin cols($count) {
  width: $count * 100% / $columnsCount;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gap;
  padding-right: $gap;
}

.row {
  margin-left: $gap * -1 / 2;
  margin-right: $gap * -1 / 2;

  display: flex;
  flex-wrap: wrap;
}

.col {
  padding-left: $gap / 2;
  padding-right: $gap / 2;

  @for $i from 1 through $columnsCount {
    &-#{$i} {
      @include cols($i);
    }
  }

  @include small-and-up {
    @for $i from 1 through $columnsCount {
      &-sm-#{$i} {
        @include cols($i);
      }
    }
  }

  @include medium-and-up {
    @for $i from 1 through $columnsCount {
      &-md-#{$i} {
        @include cols($i);
      }
    }
  }

  @include large-and-up {
    @for $i from 1 through $columnsCount {
      &-lg-#{$i} {
        @include cols($i);
      }
    }
  }

  @include extra-large-and-up {
    @for $i from 1 through $columnsCount {
      &-xl-#{$i} {
        @include cols($i);
      }
    }
  }
}

@mixin mediaSpace($property, $prefix: '') {
  @each $size, $ratio in $spaceRatio {
    &#{$prefix}-#{$size},
    &a#{$prefix}-#{$size} {
      #{$property}: $ratio * $spaceUnit;
    }
    &t#{$prefix}-#{$size} {
      #{$property}-top: $ratio * $spaceUnit;
    }
    &b#{$prefix}-#{$size} {
      #{$property}-bottom: $ratio * $spaceUnit;
    }
    &y#{$prefix}-#{$size} {
      #{$property}-top: $ratio * $spaceUnit;
      #{$property}-bottom: $ratio * $spaceUnit;
    }
    &l#{$prefix}-#{$size} {
      #{$property}-left: $ratio * $spaceUnit;
    }
    &r#{$prefix}-#{$size} {
      #{$property}-right: $ratio * $spaceUnit;
    }
    &x#{$prefix}-#{$size} {
      #{$property}-left: $ratio * $spaceUnit;
      #{$property}-right: $ratio * $spaceUnit;
    }
    &#{$prefix}-0 {
      #{$property}: 0;
    }
  }
}

/* margins */
.m {
  @include mediaSpace('margin', '');

  @include small-and-up {
    @include mediaSpace('margin', '-sm');
  }

  @include medium-and-up {
    @include mediaSpace('margin', '-md');
  }

  @include large-and-up {
    @include mediaSpace('margin', '-lg');
  }

  @include extra-large-and-up {
    @include mediaSpace('margin', '-xl');
  }
}

/* paddings */
.p {
  @include mediaSpace('padding', '');

  @include small-and-up {
    @include mediaSpace('padding', '-sm');
  }

  @include medium-and-up {
    @include mediaSpace('padding', '-md');
  }

  @include large-and-up {
    @include mediaSpace('padding', '-lg');
  }

  @include extra-large-and-up {
    @include mediaSpace('padding', '-xl');
  }
}

body.admin-bar {
  padding-top: 32px;
}

@media screen and (max-width: 782px) {
  body.admin-bar {
    padding-top: 46px;
  }
}

@mixin with-adminbar($propertyName) {
  body.admin-bar & {
    #{$propertyName}: 32px;
  }

  @media screen and (max-width: 782px) {
    body.admin-bar & {
      #{$propertyName}: 46px;
    }
  }
}
