.page-top {
  padding-top: var(--gap, 20px);
  padding-bottom: var(--gap, 20px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-menu {
  flex-grow: 1;

  display: flex;
  align-items: center;
}

.page-title {
  flex-grow: 1;
  text-align: center;
}

.top-menu {
  flex-grow: 1;
}

.page-banner {
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &__content {
    position: relative;
    min-height: 450px;
    background-color: hsla(var(--accent-color-hue), 30%, 28%, 0.7);
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
