.search-form {
  position: relative;

  &__input {
    border-radius: 4px;
    border: 1px solid currentColor;
    height: 40px;
    padding: 0 50px 0 10px;
    width: 100%;
  }

  &__submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
  }
}
