:root {
  --content-color: #333333;

  --contrast-color: #333333;
  --contrast-content-color: white;

  --service-color: #f3f3f3;
  --service-dark-color: #e3e3e3;

  --focus-color: aqua;

  --accent-color-hue: 152deg;
  --accent-contrast-color: white;

  --body-bg: white;

  --inactive-color: #bbbbbb;
  --warning-color: rgb(212, 140, 5);

  --main-font: 'Montserrat', 'Arial', sans-serif;
  --header-font: 'Oswald', 'Montserrat', 'Arial', sans-serif;
}
