:root {
  --content-color: #666666;
  --service-color: #f3f3f3;
  --service-dark-color: #e3e3e3;

  --accent-color-hue: 152deg;

  --body-bg: white;

  --main-font: 'Roboto', 'Arial', sans-serif;
  --header-font: 'Oswald', 'Roboto', 'Arial', sans-serif;
}
